body {
  margin: 0;
  font-family: "Manrope";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #202733;
  padding: 0px 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #313a48;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 15px;
}

.card h5 {
  margin-top: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 4.08571px;
  color: #53ffaa;
}

.card h4 {
  margin: 10px 0px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #cee3e9;
}

.dice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 30px;
  height: 35px;
  width: 35px;
  background: #53ffaa;
  box-shadow: 0px 0px 40px #53ffaa;
}

.dice {
  color: #202733;
}
